<ion-header>
  <ion-toolbar color="dark-green">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Editar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="stacked">E-mail</ion-label>
      <ion-input name="email" type="email" [(ngModel)]="user.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Nome Completo</ion-label>
      <ion-input name="namecompleto" type="text" [(ngModel)]="user.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Profissão</ion-label>
      <ion-input name="profissional" type="text"  [(ngModel)]="user.professional"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Registro</ion-label>
      <ion-input name="registro" type="text"  [(ngModel)]="user.cartaosus"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Estado</ion-label>
      <ion-input name="estado" type="text"  [(ngModel)]="user.address_state"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Contato</ion-label>
      <ion-input name="contato" type="text" [(ngModel)]="user.contato"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Sexo</ion-label>
      <ion-input name="sexo" type="text" [(ngModel)]="user.sexo"></ion-input>
    </ion-item>

    <div class="btn">
      <div class="botoes">
        <ion-button class="botao" expand="block" color="dark-green" id="salvar" type="submit">Editar</ion-button>
        <ion-button class="botao" expand="block" color="warning" [routerLink]="['/dashboard/']">Voltar</ion-button>
      </div>
    </div>
  </form>
</ion-content>
