<ion-header>
  <ion-toolbar color="dark-green">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Editar Perfil do Agente de Saúde</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onSubmit()">
    <ion-item *ngIf="user.imgUrl == ''">
      <img *ngIf="user.imgUrl == ''"  src="/assets/images/fotousuariopadrao.png" alt="" class="img-thumbnail d-block" style="max-width: 100px;"/>
      <ion-input *ngIf="user.imgUrl == ''" color="warning" type="file" accept="image/png,image/jpeg" (change)="upload($event)">
        <!-- <ion-icon name="add-outline"></ion-icon> -->
      </ion-input>
    </ion-item>

    <ion-item [hidden]="!hasImg">
      <img src="{{user.imgUrl}}" alt="" class="img-thumbnail d-block" style="max-width: 100px;" [hidden]="!hasImg"/>
      <ion-button color="danger"  (click)="removerImg(userId, user.filePath)" [hidden]="!hasImg">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">E-mail</ion-label>
      <ion-input name="email" type="email" [(ngModel)]="user.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Nome Completo</ion-label>
      <ion-input name="namecompleto" type="text" [(ngModel)]="user.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Profissão</ion-label>
      <ion-input name="profissional" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Registro</ion-label>
      <ion-input name="registro" type="text"  [(ngModel)]="user.registro"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Estado</ion-label>
      <ion-input name="estado" type="text"  [(ngModel)]="user.address_state"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Contato</ion-label>
      <ion-input name="contato" type="text" [(ngModel)]="user.contato"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Sexo</ion-label>
      <ion-input name="sexo" type="text" [(ngModel)]="user.sexo"></ion-input>
    </ion-item>

    <div class="btn">
      <div class="botoes">
        <ion-button class="botao" expand="block" color="dark-green" id="salvar" type="submit">Salvar</ion-button>
        <ion-button class="botao" expand="block" color="warning" [routerLink]="['/dashboard']">Voltar</ion-button>
      </div>
    </div>
  </form>
</ion-content>
