<ion-header>
  <!-- Titulo da Pagina -->
  <ion-toolbar color="dark-green">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>INFORMAÇÕES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <!-- Formulário de Medicamento -->

 <ion-list>

  <ion-item>
    <ion-grid>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label class="texto" position="stacked">Data de abertura do atendimento</ion-label>
            <ion-input disabled="true"><span>{{attend.date}}</span></ion-input>
          </ion-item>
          <ion-item>
            <ion-label class="texto" position="stacked">Data de fechamento do atendimento</ion-label>
            <ion-input disabled="true"><span>{{attend.dateclosed}}</span></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label class="texto" position="stacked">Paciente</ion-label>
            <ion-input disabled="true"><span>{{attend.name}}</span></ion-input>
          </ion-item>
        </ion-col>
       <ion-col size="6">
          <ion-item>
            <ion-label class="texto" position="stacked">SUS</ion-label>
            <ion-input disabled="true"><span>{{attend.cartaosus}}</span></ion-input>
          </ion-item>
        </ion-col>        
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label class="texto" position="stacked">Faixa etaria</ion-label>
            <p>{{ user.faixaetaria }}</p>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label class="texto" position="stacked">Idade</ion-label>
            <p>{{ dnascimento }}</p>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label class="texto" position="stacked">Sexo</ion-label>
              <p>{{ user.sexo }}</p>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label class="texto" position="stacked">Sangue</ion-label>
            <p>{{ user.tiposanguineo }}</p>
          </ion-item>
        </ion-col>        
      </ion-row>      
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label class="texto" position="stacked">Comorbidades</ion-label>
            <p>{{ user.comorbidades }}</p>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <h5 position="stacked">Dores</h5>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item *ngFor="let subAttend of subAttends">
            <ion-label position="stacked">Local</ion-label>
            <ion-input>{{ subAttend.pain }}</ion-input>
            <ion-label position="stacked">Escala</ion-label>
            <ion-input>{{ subAttend.scale }}</ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <h5 position="stacked">Sintomas</h5>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item *ngFor="let symptoms of symptom">
            <ion-input>{{ symptoms.name }}</ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <h5 position="stacked">Medicações</h5>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item *ngFor="let subMedicament of subMedicaments">
            <ion-label position="stacked">Observação</ion-label>
            <ion-input>{{ subMedicament.observacao }}</ion-input>
            <ion-label position="stacked">Remédio</ion-label>
            <ion-input>{{ subMedicament.remedio }}</ion-input>
            <ion-label position="stacked">Tipo</ion-label>
            <ion-input>{{ subMedicament.tipo }}</ion-input>          
            <ion-label position="stacked">Dosagem</ion-label>
            <ion-input>{{ subMedicament.dosagem }}</ion-input>          
            <ion-label position="stacked">Horário</ion-label>
            <ion-input>de: {{ subMedicament.horario }} em {{ subMedicament.horario }}hs</ion-input>          
            <ion-label position="stacked">{{ subMedicament.professional }} / Registro {{ subMedicament.registro }}</ion-label>
            <ion-input>{{ subMedicament.name }}</ion-input>          
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-button *ngIf="attend.status=='opened'" expand="block" [routerLink]="['/medicament', attendId]" color="success">Medicar</ion-button>
          <ion-button expand="block" [routerLink]="['/attendance']" color="warning">Voltar</ion-button>
        </ion-col>
      </ion-row>

     </ion-grid>
  </ion-item>

</ion-list>

</ion-content>
