// ion-toolbar {
//     background-color: #0fff98;
// }
// ion-item {
//     border-style: solid;
// }
// .name {
//     color: black;
// }
ion-grid {
    margin-bottom: 0.5rem;
}

// ion-fab-button {
//     background-color: #0fff98;
// }
// ion-content {
//     background-color: red;
// }
ion-title {
    text-align: center;
}

.name{
	margin-top: 1rem;
}

.action_buttons{
	margin-top: 0.8rem
}
