<ion-header>
  <!-- Titulo da Pagina -->
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Atendimento</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>

<!-- Barra de Pesquisa -->
  <ion-toolbar style="margin-top: 10px;">
    <ion-searchbar placeholder="Pesquisar atendimento"></ion-searchbar>
  </ion-toolbar>

<!-- Embaixo de resultados irá aparecer uma listagem com informações de atendimentos, vindo do banco -->
  <ion-title style="margin-top: 20px;">Resultados:</ion-title>
  <ion-list>  </ion-list>

</ion-content>
