.barradepesquisa{
  margin-top: 1rem;
}

.topo{
  color:#0fff98;
}

.texto {
  color:black;
  font-size: 15px;
  padding-left: 2rem;
  margin-left: -2.0rem;
}

.textcolorgreen{
  color: var(--ion-color-dark-green)
}
.textcolorwarning{
  color: var(--ion-color-warning)
}


