<ion-header>
  <ion-toolbar color="dark-green">
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Template-driven [()] ngModel -->
<ion-content color="light">

    <form (ngSubmit)="onSubmit()">
        <ion-item class="ion-margin-top" lines="none">
            <ion-label position="stacked">Sintoma</ion-label>
            <ion-input name="name" type="text" placeholder="Nome do Sintoma" [(ngModel)]="symptoms.name"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <ion-label position="stacked">id do Sintoma</ion-label>
          <ion-input name="idname" type="text" placeholder="mesmo nome do sintoma tudo junto e sem acentuação" [(ngModel)]="symptoms.idname"></ion-input>
      </ion-item>

      <ion-item class="ion-margin-top" lines="none">
            <ion-label position="stacked">Descrição</ion-label>
            <ion-input name="description" type="text" placeholder="Descrição do Sintoma" [(ngModel)]="symptoms.description"></ion-input>
        </ion-item>

        <ion-item *ngIf="imgUrl==''">
            <ion-label class="form-control-label">Imagem</ion-label>
            <ion-input type="file" accept="image/png,image/jpeg" (change)="upload($event)"></ion-input>
        </ion-item>

        <ion-item class="form-group" [hidden]="!hasImg">
            <img src="{{ imgUrl }}" class="img-thumbnail d-block" style="max-width: 100px;" [hidden]="!hasImg" />
            <ion-button expand="block" color="danger" (click)="removerImg(symptomsId, filePath)" [hidden]="!hasImg">
                <ion-icon slot="start" name="trash"></ion-icon> Remover esta Imagem
            </ion-button>
        </ion-item>

    <ion-button id="salvar" expand="block" type="submit" color="dark-green">Salvar</ion-button>
    <ion-button expand="block" [routerLink]="['/symptoms-list']" color="warning">Cancelar</ion-button>

    </form>
</ion-content>
