<ion-header>
  <ion-toolbar color="dark-green">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item  class="ion-activated">
      <ion-icon name="walk-outline" slot="start"></ion-icon>
      <ion-label>Total de Pacientes</ion-label>
      <p class="fontesize">{{ totalUserPacientes | async }}</p>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item  class="ion-activated">
      <ion-icon name="heart-half-outline"  slot="start"></ion-icon>
      <ion-label>Total de Agentes de Saúde</ion-label>
      <p class="fontesize">{{ totalUserAgentesaude | async }}</p>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item  class="ion-activated">
      <ion-icon name="pulse-outline" slot="start"></ion-icon>
      <ion-label>Atendimentos em aberto</ion-label>
      <p class="fontesize">{{ totalAttendanceOpened | async }}</p>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item  class="ion-activated">
      <ion-icon name="bag-add-outline" slot="start"></ion-icon>
      <ion-label>Atendimentos realizados</ion-label>
      <p class="fontesize">{{ totalAttendanceClosed | async }}</p>
    </ion-item>
  </ion-card>

</ion-content>
